/* Styles for larger screens */
body {
    overflow-x: auto; /* Enable horizontal scrollbar */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    white-space: nowrap; /* Prevent tab buttons from wrapping */
    overflow-x: auto; /* Enable horizontal scrollbar */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.tabs ul li {
    display: inline;
}

.tabs ul li a {
    padding: 10px 20px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
}

.tabs ul li a:hover {
    background-color: #ddd;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: center; /* Center align content */
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}
